.tumb-img{
    width: 300px;
    border-radius: 12px;
    margin-top: 10px;
}
*{
    font-family: Roboto, arial;
}
.chan-img-div{
    display: inline-block;
    vertical-align: top;
}
.video-info-div{
    display: inline-block;
}
.video-title{
    width: 250px;
    margin: 2px;
    font-size: 13px;
}
.img-content-div{
    margin-top: 5px;
}
.video-author{
    color: gray;
    margin: 2px;
    font-size: 13px;
}
.video-stats {
    color: gray;
    margin: 2px;
    font-size: 13px;
    
}
.chan-img{
    width: 40px;
    border-radius : 50px;
}